
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura';
    font-weight: bold;
    /* font-size: 15px; */
}

.txt {
        text-align: center;
        
}

h1 {
    color:white;
    padding: 10 px 20px;

}

body {
    margin: o;
    font-family: 'Roboto', sans-serif;
    background-image: url('images/background.jpg');
    background-size: cover;
}

h2 {
        font-size: 2.2em;
        text-align: center;
    
}


nav img{
  height:70px;
  width: 230px;

}

nav{
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: space-between;  
    align-items: center; 
    position: fixed;
}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;

}


#menu ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 82px;
    text-transform: uppercase;
    letter-spacing: 0.05em;


}
#menu ul li a:hover{
    background-color: yellow;
    color: black;
}



.main_section{
  background-image: url("images/gym.jpg");
  height:650px;
  background-size:cover;
  
}
.main_section h1{
  padding:30px;
}

.contenedor {
  margin: 200px;
  margin-bottom: 50px;
}
.contenedor  h1{
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
}


.planesPago h2{
  font-size: 2.2em;
}

.membresias{
  display: flex;
  justify-content:space-around;
  padding: 50px 100px 100px 140px;
  margin-top: 200px;
}
.membresia{
  border-radius:40px;
  text-align:center;
  border: 4px solid gray;
  width:280px;
  padding:20px;
  height: 340px;
  background-color: rgb(241, 239, 242);
}
.membresia h3{
  color:gray;
  font-size: 2.1em;
}

.membresia h2{
  font-size: 2em;
}
.btn{
  background: rgb(14, 14, 14);
  cursor:pointer;
  padding:5px 20px;
  color:rgb(241, 239, 242);
  border-radius:30px;
  border:0px;
  font-size:1.5em;
  width: 190px;
  height: 40px;
  margin-top: 30px;
  text-decoration: none;

}
.btn :hover{
  background-color: yellow;


}
 #contacto{
   background-color: rgb(14, 14, 14);
   color:rgb(241, 239, 242);
   height: 75px;
   text-align: center;
   padding: 15px;
 }
  

   #contacto p{
    letter-spacing: 0.05em;
    font-weight: normal;
    line-height: 1.5em;
    font-size: 1.1em;
   }
 
   

 #socialMedia{
   display: flex;
   justify-content: center;
   font-weight: bold;
   background-color: rgb(241, 239, 242);

 }
 #socialMedia p{
   padding: 15px;
 }
 #boxBlack{
  background-color: black;
  height: 65px;
 }
 

 a {
   color: white;
 }


